<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            max-width: 800px;
            margin: 0 auto;
        }

        body {
            padding: 1em;
        }

        .rpc-message, .log-entry {
            font-size: 12px;
            margin: 1em 0;
            display: flex;
            align-items: center;
        }

        .rpc-message .content, .log-entry .content {
            flex: 1;
            overflow: scroll;
        }

        .rpc-message .content .header, .log-entry .content .header {
            color: #fff;
            display: flex;
            padding: .5em;
        }

        .rpc-message .content .header .fields, .log-entry .content .header .fields {
            list-style-type: none;
            margin: 0;
            padding: 0;
            flex: 1;
        }

        .rpc-message .content .header .fields li, .log-entry .content .header .fields li {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        .rpc-message .content .header .fields li .key, .rpc-message .content .header .fields li .value,
        .log-entry .content .header .fields li .key, .log-entry .header .fields li .value {
            display: inline-block;
        }

        .rpc-message .content .header .fields li .value,
        .log-entry .content .header .fields li .value {
            font-weight: bold;
            margin-right: 1em;
        }

        .rpc-message .content .header .fields li::before,
        .log-entry .content .header .fields li::before {
            display: none;
        }

        .rpc-message .content .header .timestamp,
        .log-entry .content .header .timestamp {
            font-weight: bold;
        }

        .rpc-message .content .body,
        .log-entry .body {
            margin: 0;
            padding: .5em;
            overflow: scroll;
        }

        .log-entry .header {
            background-color: #7f8c8d;
        }

        .log-entry .body {
            background-color: #ecf0f1;
        }

        .rpc-message .arrow {
            width: 150px;
        }

        .rpc-message .arrow img {
            width: 50px;
        }

        .rpc-message.left .header {
            background-color: #5fb2e6;
        }

        .rpc-message.left .body {
            background-color: #d2e9f8;
        }

        .rpc-message.left .arrow {
            text-align: left;
            padding-left: 1em;
        }

        .rpc-message.right .header {
            background-color: #e79f27;
        }

        .rpc-message.right .body {
            background-color: #fcf3e4;
        }

        .rpc-message.right .arrow {
            text-align: right;
            padding-right: 1em;
        }

        .rpc-message.right .arrow img {
            transform: scaleX(-1);
        }
    </style>
</head>

<body>
<h1>
    {{ .LogFilename }}
</h1>

<div class="peers">
    {{ range $peerId, $connections := .Peers }}
    <div class="peer">
        <h2>
            Peer {{ $peerId }}
        </h2>

        <div class="connections">
            {{ range $connectionId, $connection := $connections }}
            <div class="connection">
                <h2>
                    Connection {{ $connectionId }}
                </h2>

                <div class="streams">
                    {{ range $streamId, $stream := $connection }}
                    <div class="stream">
                        <h2>
                            Stream {{ $streamId }}
                        </h2>

                        <div class="events">
                            {{ range $stream.Events }}
                                {{ if not .Message }}
                                    <div class="log-entry">
                                        <div class="content">
                                            <div class="header">
                                                <ul class="fields">
                                                    {{ range $label, $value := .Entry }}
                                                        {{ if ne $label "msg" }}
                                                            {{ if ne $label "time" }}
                                                                <li>
                                                                    <div class="key">
                                                                        {{ $label }}:
                                                                    </div>
                                                                    <div class="value">
                                                                        {{ $value }}
                                                                    </div>
                                                                </li>
                                                            {{ end }}
                                                        {{ end }}
                                                    {{ end }}
                                                </ul>
                                                <div class="timestamp">
                                                    {{ .Timestamp.Format "2006-01-02 15:04:05 Z07:00"  }}
                                                </div>
                                            </div>
                                            <pre class="body">{{ index .Entry "msg" }}</pre>
                                        </div>
                                    </div>
                                {{ else }}
                                    <div class="rpc-message {{ if eq .Message.Type MessageTypeSent }}left{{ else }}right{{ end }}">
                                        {{ if ne .Message.Type MessageTypeSent }}
                                            <div class="arrow">
                                                <img src="/assets/images/arrow.png">
                                            </div>
                                        {{ end }}

                                        <div class="content">
                                            <div class="header">
                                                <ul class="fields">
                                                    <li>
                                                        <div class="key">
                                                            Request number:
                                                        </div>
                                                        <div class="value">
                                                            {{ .Message.RequestNumber }}
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="key">
                                                            Flags:
                                                        </div>
                                                        <div class="value">
                                                            {{ .Message.Flags }}
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="timestamp">
                                                    {{ .Timestamp.Format "2006-01-02 15:04:05 Z07:00"  }}
                                                </div>
                                            </div>
                                            <pre class="body">{{ .Message.Body }}</pre>
                                        </div>

                                        {{ if eq .Message.Type MessageTypeSent }}
                                            <div class="arrow">
                                                <img src="/assets/images/arrow.png">
                                            </div>
                                        {{ end }}
                                    </div>
                                {{end}}
                            {{else}}
                                No events.
                            {{end}}
                        </div>
                    </div>
                </div>
                {{else}}
                    No streams.
                {{end}}
            </div>
        </div>
        {{else}}
            No connections.
        {{end}}
    </div>
</div>
{{else}}
    No peers.
{{end}}
</div>
</body>

</html>
